.btn1{
    height: 90px;
    width: 95px;
    margin-top: 50px;
    margin-left: 2px;
    padding-right: 12px;
    background-color: rgb(250, 184, 19);
    align-items: center;
}

.btn-primary{
    margin: 40px auto;
    margin-bottom: 30px;
    margin-left: 46%;
   
    height: 100px;
    width: 100px;
}
.pressed{
    visibility: hidden;
}
h1{
    text-align: center;
    padding-top: 110px;
    color:chartreuse ;
}
div{
    background-color: #28282b;
    padding-bottom: 10px;
}
.danger{
    background-color: #FFEBB7;
}